In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/dataset/weight-height - weight-height.csv')
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [ ]:
df.Height.describe()

count    10000.000000
mean        66.367560
std          3.847528
min         54.263133
25%         63.505620
50%         66.318070
75%         69.174262
max         78.998742
Name: Height, dtype: float64

In [ ]:
df['Zscore']=(df.Height-df.Height.mean())/df.Height.std()
df.head()

  Gender     Height      Weight    Zscore
0   Male  73.847017  241.893563  1.943964
1   Male  68.781904  162.310473  0.627505
2   Male  74.110105  212.740856  2.012343
3   Male  71.730978  220.042470  1.393991
4   Male  69.881796  206.349801  0.913375

In [ ]:
df[df['Zscore']>2]

     Gender     Height      Weight    Zscore
2      Male  74.110105  212.740856  2.012343
23     Male  75.205974  228.761781  2.297167
190    Male  76.709835  235.035419  2.688031
197    Male  75.944460  231.924748  2.489105
202    Male  75.140821  224.124271  2.280233
...     ...        ...         ...       ...
4807   Male  74.529455  225.540079  2.121335
4825   Male  74.975231  214.495489  2.237195
4843   Male  74.650540  213.320520  2.152806
4883   Male  74.210521  204.759344  2.038442
4913   Male  74.217091  222.829851  2.040149

[185 rows x 4 columns]

In [ ]:
df[df['Zscore']<-3]

      Gender     Height     Weight    Zscore
6624  Female  54.616858  71.393749 -3.054091
9285  Female  54.263133  64.700127 -3.146027

In [ ]:
no_out=df[(df.Zscore>-3) & (df.Zscore<3)]
no_out

      Gender     Height      Weight    Zscore
0       Male  73.847017  241.893563  1.943964
1       Male  68.781904  162.310473  0.627505
2       Male  74.110105  212.740856  2.012343
3       Male  71.730978  220.042470  1.393991
4       Male  69.881796  206.349801  0.913375
...      ...        ...         ...       ...
9995  Female  66.172652  136.777454 -0.050658
9996  Female  67.067155  170.867906  0.181830
9997  Female  63.867992  128.475319 -0.649655
9998  Female  69.034243  163.852461  0.693090
9999  Female  61.944246  113.649103 -1.149651

[9993 rows x 4 columns]